body{
margin:0;
display:flex;
background:#1c1f26;
color:white;
font-family:sans-serif;
height:100vh;
}

.sidebar{
width:300px;
background:#252a33;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}

input,select,button{
width:100%;
padding:8px;
background:#2f3642;
border:none;
color:white;
}

button:hover{
background:#3f4858;
cursor:pointer;
}

.main{
flex:1;
display:flex;
justify-content:center;
align-items:center;
}

canvas{
background:#111;
border:1px solid #333;
}
